@import './colors';
*,*::before, *::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
}
body
{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    background-color: $dark-blue;
    color: $white-color;
    
}
.wrapper
{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    &__special
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
}
.card
{
    position: relative;
    border-radius: 8px;
    background-color: $cardbgc;
    &__img
    {
        position: relative;
        background-image: url('../img/image-header-mobile.jpg');
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    &__shadow
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: $accent-shadow;
    }
    &__body
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        text-align: center;
    }
    &__heading
    {
        margin: .5em;
        font-size: 1.6rem;
    }
    &__text
    {
        margin: .5em;
        color: $main-p;
        line-height: 23px;
    }
    &__stats
    {
        &--first, &--second, &--third
        {
            margin: 2em;
            p
            {
                margin: .5em;
                font-size: 1.4rem;
                color: $stat_heading;
                text-transform: uppercase;
            }
        }
    }
    .insights
    {
        color: $accent;
    }
}

@import './large'